.footer {
  background-color: #000000;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.backToTopContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.line {
  background-color: #a5978c66;
  width: 100%;
  height: 2px;
}

.text {
  font-size: 0.9rem;
}
