.header {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  background-color: #000000;
  z-index: 999;
  padding: 1rem 1.5rem;
}

.navContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  height: 100%;
  background-color: #000000;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
}
.logoTitle {
  color: #fa9344;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.41px;
  text-align: left;
}
